<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center">Review Product</h1>

    <table align="center" border="1">


        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Update</th>
            <th>Delete</th>
            <th>Add to Cart</th>
        </tr>

    {% for x in data %}

    <tr>
        <td><a href="/read_product_detail/{{ x.id }}">{{ x.name }}</a></td>
        <td>{{ x.price }}</td>
        <td><img src="{{ x.image.url }}" alt="img"></td>
        <td><a href="/product_update/{{ x.id }}">Update</a></td>
        <td><a href="/delete_product/{{ x.id}}">Delete</a></td>
        <td><a href="/create_cart/{{ x.id}}">Add to cart</a></td>
    </tr>

    {% endfor %}

    </table>
</body>
</html>